.answer {

    // .answer__list

    &__list {
        max-width: 740px;
        margin: 50px auto 0;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width:768px) {
            margin: 25px auto 0;
        }
    }

    // .answer__btn

    &__btn {
        width: 100%;
        position: relative;
        padding: 18px 10px;
        @include adaptiv-value('font-size', 20, 16);
        text-transform: uppercase;
        text-align: left;
        color: $colorText;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    }

    // .answer__text

    &__text {
        font-size: 18px;
        line-height: 25px;
        padding-left: 50px;
        padding-top: 15px;
        color: $colorText;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;

        @media (max-width:768px) {
            padding-left: 20px;
        }
    }
}