.section {}

.circle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;

    &__bg {
        position: relative;
    }

    &__bg-icon {
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        max-width: 100%;

        @media (max-width:768px) {
            max-width: 300px;
        }

        // transform: translateY(-50%);
    }

    &__image {
        @media (max-width:768px) {
            width: 150px;
        }
    }

    &__position-top {
        margin-top: 150px;

        @media (max-width:768px) {
            margin-top: 50px;
        }
    }

    &__position-bottom {
        margin-bottom: 100px;

        @media (max-width:768px) {
            margin-bottom: 50px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: $colorText;
        @include adaptiv-value('font-size', 18, 10);
        font-weight: 500;

        img {
            @media (max-width:768px) {
                width: 15px;
            }
        }
    }

    &__content {
        max-width: 217px;
    }
}