.footer {

    // .footer__inner

    &__inner {
        display: flex;

        @media (max-width:768px) {
            display: block;
        }
    }

    // .footer__image

    &__image {
        img {
            max-width: 100%;
        }
    }

    // .footer__content

    &__content {
        padding-left: 50px;

        @media (max-width:768px) {
            padding-left: 0;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
    }

    // .footer__name

    &__name {
        margin-left: 40px;

        @media (max-width:768px) {
            margin-left: 20px;

            img {
                width: 170px;
            }
        }
    }

    // .footer__social

    &__social {
        margin-top: 15px;
        text-align: center;
    }

    // .footer__social-title

    &__social-title {
        color: $colorText;
        font-size: 24px;
        margin-bottom: 20px;
    }

    // .footer__social-list

    &__social-list {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    // .footer__contacts

    &__contacts {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__contacts-text {
        color: $colorText;
        @include adaptiv-value('font-size', 24, 12);
        margin-bottom: 10px;
    }

    &__contacts-link {
        color: $colorText;
        @include adaptiv-value('font-size', 24, 12);
    }

    &__btn {
        text-align: center;
    }
}