.myGallery .swiper-wrapper {
    margin-top: 55px;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}

.gallery__card {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.myGallery img {
    max-width: 100%;
    border-radius: 10px;
}

.gallery__swiper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgb(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    // z-index: 20;
    transition: all 0.8s ease;
}

.open {
    visibility: visible;
    opacity: 1;
}

.gallery__wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    color: $colorText;
    font-size: 22px;
    cursor: pointer;

    @media (max-width: 768px) {
        top: 5px;
        right: 5px;
    }

}

.swiper-button-next,
.swiper-button-prev {
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 15px;
    color: #000;
}