body {
  font-family: "Gotham", sans-serif;
  color: $colorText;
  background: $colorBody;
}

.container {
  max-width: $containerWidth + px;
  margin: 0 auto;
  padding: 0 $containerPadding + px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.hero__title {
  font-family: Viaoda Libre;
  @include adaptiv-value('font-size', 40, 28);
  text-transform: uppercase;
}

.title {
  color: $colorSecondary;
  text-align: center;
  font-family: Viaoda Libre;
  @include adaptiv-value('font-size', 40, 24);
  text-transform: uppercase;
}

.btn__secondary {
  color: $colorText;
  @include adaptiv-value('font-size', 18, 12);
  display: inline-block;
  padding: 8px 26px;
  border-radius: 25px;

  &:hover {
    opacity: 0.7;
  }
}

.btn__primary {
  color: $colorBody;
  @include adaptiv-value('font-size', 18, 12);
  display: inline-block;
  padding: 8px 26px;
  background: $colorSecondary;
  border-radius: 25px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.7;
  }
}

.section {
  padding: 25px 0;

  @media (max-width:768px) {
    padding: 15px 0;
  }
}

@keyframes opacity-clock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animation {
  animation: opacity-clock 2s ease;
}

.open {
  visibility: visible;
  opacity: 1;
}