.hero {
    padding-top: 80px;

    // .hero__inner

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width:768px) {
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }

    // .hero__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .hero__text

    &__text {
        margin-top: 40px;
        @include adaptiv-value('font-size', 18, 14);
        font-style: normal;
        text-transform: uppercase;
    }

    // .hero__counter

    &__counter {
        justify-content: center;
        margin-top: 60px;
        display: flex;
        gap: 20px;
    }

    // .hero__counter-item

    &__counter-item {
        padding: 14px 15px 5px;
        border-radius: 15px;
        background: $colorSecondary;
        text-align: center;
        font-size: 40px;

        @media (max-width:768px) {
            padding: 14px 10px 5px;
            font-size: 24px;
        }
    }

    // .hero__days

    &__days {
        font-size: 12px;
    }

    // .hero__hours

    &__hours {
        font-size: 12px;
    }

    // .hero__minutes

    &__minutes {
        font-size: 12px;
    }

    // .hero__seconds

    &__seconds {
        font-size: 12px;
    }

    // .hero__list-btn

    &__list-btn {
        display: flex;

        gap: 20px;
        margin-top: 60px;
        margin-bottom: 50px;

        @media (max-width:768px) {
            justify-content: center;
        }

        @media (max-width:500px) {
            flex-direction: column;
        }
    }

    // .hero__image

    &__image {
        display: flex;
        justify-content: end;
        align-items: end;

        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;

            @media (max-width:768px) {
                display: none;
            }
        }
    }

    &__image-mobile {
        display: none;

        @media (max-width:768px) {
            display: block;
            margin-top: 15px;

            img {
                max-width: 100%;
            }
        }

    }

    // .hero__info

    &__info {
        background: $colorSecondary;
        padding: 20px 0;
    }

    // .hero__list

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    // .hero__list-item

    &__list-item {
        max-width: 200px;
        text-align: center;
        @include adaptiv-value('font-size', 18, 10);
        text-transform: uppercase;
    }

    // .hero__list-number

    &__list-number {
        @include adaptiv-value('font-size', 48, 28);
        font-weight: 500;
    }
}