.rate {

    // .rate__list

    &__list {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media (max-width:768px) {
            margin-top: 25px;
            overflow-x: scroll;
            padding: 0 20px 15px;
        }
    }

    // .rate__card

    &__card {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    // .rate__card-name

    &__card-name {
        color: #797979;
        font-size: 20px;
        margin-bottom: 34px;

        @media (max-width:768px) {
            margin-bottom: 15px;
        }
    }

    // .rate__card-price

    &__card-price {
        text-align: center;
        @include adaptiv-value('font-size', 34, 18);
        color: $colorText;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-wrap: nowrap;

        span {
            display: block;
            margin-right: 5px;
            color: #42FF00;
        }

        .card__price {
            margin-left: 5px;
            @include adaptiv-value('font-size', 26, 14);
        }
    }

    &__card-pay {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin-bottom: 60px;

        @media (max-width:768px) {
            margin-bottom: 30px;
        }
    }

    &__card-subprice {
        color: $colorText;
        font-size: 10px;
        text-align: center;
    }

    // .rate__card-sublist

    &__card-sublist {
        margin-bottom: 20px;
        flex: 1 1 auto;
    }

    // .rate__card-text

    &__card-text {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        color: $colorText;
        @include adaptiv-value('font-size', 20, 10);
        color: $colorText;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            margin-right: 10px;

            @media (max-width:768px) {
                width: 15px;
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.rate__card:hover {
    background: #5E5AFF;
    transition: all 0.3s ease;
}

.rate__card:hover .btn__primary {
    background: #fff;
    color: $colorText;
    transition: all 0.3s ease;
}

.rate__card:hover .rate__card-text,
.rate__card:hover .rate__card-price,
.rate__card:hover .rate__card-name,
.rate__card:hover .rate__card-subprice {
    color: #fff;
    transition: all 0.3s ease;
}

@media (max-width:768px) {
    .rate .container {
        padding: 0;
    }
}